:plain
                <h3>Ex-KGB spy buys UK paper for £1</h3>
                <p>Phasellus dapibus purus id diam. Fusce blandit aliquam purus. Pellentesque ut magna. Donec posuere. Etiam hendrerit luctus arcu. Praesent interdum. Maecenas augue mauris, mattis non, condimentum nec, commodo sed, mauris. Integer at magna ut neque luctus blandit.</p>
