- @layout = "service"
:plain
                <h3>Channel 4 &lsquo;must form partnership&rsquo;</h3>
                <p>Proin ornare urna non mauris. Mauris eget elit eu neque sollicitudin pulvinar. Sed elit pede, convallis vel, mollis ac, gravida vitae, erat. Fusce elit. Praesent id leo. Nunc in nisl non pede venenatis pharetra. Integer tristique suscipit lorem. Praesent nec tortor.</p>
