- @title = 'Tabbing between Ajax pages'

#summary
  :textile
    h2. Lazy-loading pages of content with @Ojay.AjaxTabs@
    
    Here we show how to turn a set of links to other pages into a tabbed interface that
    displays the linked content in the selected document. With JavaScript disabled, users can
    follow the links to the content, but with JavaScript enabled they get an enhanced experience.
    Content is not loaded into the page until the user has clicked the appropriate link.

:plain
    <style id="display-style" type="text/css">
        #navigation {
            height:           24px;
            margin:           24px 0 6px 24px;
            padding:          0;
        }
        
        #navigation li {
            display:          inline;
            float:            left;
            margin:           0 12px 0 0;
            padding:          0;
        }
        
        #navigation li a {
            display:          block;
            border:           1px solid #ccc;
            color:            #000;
            text-decoration:  none;
            font:             bold 14px Arial, sans-serif;
            padding:          4px 8px;
        }
        
        #navigation li a.selected {
            background:       #c30;
            border-color:     #000;
            color:            #fff;
        }
        
        .tabView {
            background:       #cef;
            border:           24px solid #fff;
            float:            left;
            padding:          24px;
            width:            680px;
            height:           260px;
        }
    </style>
    
    <ul id="navigation">
        <li><a href="/service/paginator/01.html">About us</a></li>
        <li><a href="/service/paginator/02.html">Store locations</a></li>
        <li><a href="/service/paginator/03.html">Products</a></li>
        <li><a href="/service/paginator/04.html">Careers</a></li>
    </ul>
    
    <script id="display-script" type="text/javascript">
        var list = Ojay('#navigation'), links = list.descendants('a');
        var holder = Ojay.HTML.div({className: 'tabView'});
        list.insert(holder, 'after');
        
        // Set up the tabs
        
        var pager = new Ojay.AjaxTabs(links, holder);
        pager.setup();
    </script>
