%h1 Array tests

%p
  These tests ensure that the same Array API is implemented in all browsers, as described in the
  =link('Mozilla documentation', 'http://developer.mozilla.org/en/docs/Core_JavaScript_1.5_Reference:Global_Objects:Array#Methods')

=javascripts 'test/array'
