%h1 Core selector tests

%p#foo Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas purus metus, iaculis in, placerat id, ornare a, urna. Pellentesque ac mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc pharetra mattis tellus. Ut vulputate eleifend lorem. Ut suscipit est a odio. Vivamus nec nisl vitae magna rhoncus sollicitudin. In lacus libero, semper ac, lobortis at, sagittis quis, nisl. Phasellus aliquam nibh vel metus. Nulla eget ante lacinia est dignissim volutpat. Quisque fringilla iaculis mauris. Mauris suscipit. Integer lectus felis, rhoncus id, ullamcorper ut, hendrerit ut, odio. Vivamus convallis arcu non orci. Donec id ipsum. Nulla facilisi.

%p#bar.notfirst Curabitur imperdiet nisl euismod tellus. Donec hendrerit pede at est. Morbi tempus turpis sodales enim ornare posuere. Suspendisse potenti. Praesent et leo in purus adipiscing consectetuer. Morbi tincidunt. In eget lectus. Nunc feugiat dolor sed mi. Nam sem. Cras in ligula. Nullam enim. Donec eget pede. Phasellus dolor quam, imperdiet eget, feugiat sit amet, dictum in, pede. Ut auctor venenatis ante. Praesent porttitor, massa ac placerat vehicula, nisl urna sollicitudin lorem, in pellentesque felis enim pellentesque augue.

%p#baz.notfirst Nullam tincidunt, urna non nonummy dictum, augue nunc aliquet arcu, ut sodales risus turpis eu neque. Phasellus nonummy suscipit sapien. Morbi sit amet diam eu sem ultricies nonummy. Quisque sit amet mi. Etiam sapien nulla, sagittis vel, fringilla nec, laoreet sed, mauris. Cras imperdiet, massa a sollicitudin semper, ligula quam egestas orci, in imperdiet ligula lorem a turpis. Vivamus accumsan, urna in tempus tempor, est massa laoreet mi, eget vulputate erat nunc sed nunc. Donec gravida odio a nibh. Phasellus pellentesque, turpis ac molestie mattis, erat odio dignissim velit, ac nonummy libero nisl ut sapien. Proin accumsan, mauris at dignissim consectetuer, neque ante viverra risus, in ultricies sapien nulla sit amet ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras posuere odio in purus. In in ante ac purus tincidunt imperdiet. Phasellus justo nunc, consectetuer id, placerat sed, venenatis sit amet, arcu. Curabitur justo. Cras quis sem. Etiam dolor. Nullam gravida, sapien non pulvinar auctor, ante elit consectetuer quam, ut semper metus ligula vitae ipsum.

.delegator
  %span.something
    Should not fire

.delegator-fixed
  %span.nothing
    Should fire using tree-crawling delegation

.red
  Should be red

.green
  Should be green

%form
  %input{:type => "checkbox"}

=javascripts 'test/core'
