%h1 Forms tests

#results

%form#login
  %div
    %label
      Username
      %input{:name => 'username'}
  %div
    %label
      Confirm username
      %input{:name => 'username_confirmation'}
  %div
    %label{:for => 'email'} Your email
    %input{:name => 'email', :id => 'email'}
  %div
    %span Password
    %input{:name => 'password', :type => 'password'}
  %div
    %label{:for => 'tc'} Accept Ts+Cs?
    %input{:name => 'ts-and-cs', :type => 'checkbox', :value => '1', :id => 'tc'}
  %div
    %input{:type => 'submit', :value => 'Sign in'}

%form#search{:action => '/service/search.html', :method => 'GET'}
  %div
    %label{:for => 'q'} Search terms
    %input{:name => 'q', :id => 'q'}
    %br/
    %input{:type => 'radio', :name => 'lucky', :value => 0}
    I'm feeling lucky
    %input{:type => 'radio', :name => 'lucky', :value => 1}
    No I'm not
  %div
    %input{:type => 'submit', :value => 'Go'}

#searches

=javascripts 'test/forms'

:plain
  <style type="text/css">
    form { margin: 18px 0; }
    input.invalid, .error-explanation { background: #fcc; border: 1px solid #900; }
    label.invalid { color: #f00; font-weight: bold; }
    .error-explanation { padding: 12px; margin: 12px; }
  </style>