- @layout = 'test'

%h1 History tests

=javascripts 'test/fixtures/gallery', 'test/fixtures/browser'

%script{:type => 'text/javascript'}
  :plain
    var foo = new Gallery('foo');
    var bar = new Gallery('bar');
    var baz = new Gallery('baz');
    var urls = new URLBrowser('#browser');
    
    Ojay.History.manage(foo, 'foo');
    Ojay.History.manage(bar, 'bar');
    Ojay.History.manage(urls, 'browse');
    Ojay.History.initialize({asset: './index.html'});

%p This one is history managaed...
#foo
%script{:type => 'text/javascript'}
  :plain
    foo.setup();

%p So is this one...
#bar
%script{:type => 'text/javascript'}
  :plain
    bar.setup();

%p This one is not...
#baz

:javascript
  baz.setup();

=link 'Go to test index', './index.html'

%ul#browser
  %li
    =link 'the OTHER media', 'http://othermedia.com'
    =link 'Google', 'http://google.co.uk'
    =link 'Amazon', 'http://amazon.co.uk'
:javascript
    urls.setup();
