- @layout = 'test'

%h1 Ojay test suite

%ul
  %li
    =link './Array'
  %li
    =link './Core'
  %li
    =link './History'
  %li
    =link './HTML Builder'
  %li
    =link './HTTP'
  %li
    =link './Insertion'
  %li
    =link './Region'
  %li
    =link './Traversal'
  %li
    =link './Overlays'
  %li
    =link './Validation'