- @layout = 'test'

%h1 Ojay test suite

%ul
  %li
    =link './Array'
  %li
    =link './Accordion'
  %li
    =link './Core'
  %li
    =link './Forms'
  %li
    =link './History'
  %li
    =link './HTML Builder'
  %li
    =link './HTTP'
  %li
    =link './Insertion'
  %li
    =link './Keyboard'
  %li
    =link './Overlays'
  %li
    =link './Pagination'
  %li
    =link './Pagination 2'
  %li
    =link './Region'
  %li
    =link './Traversal'
