- @layout = 'test'

%h1 Insertion tests

.setcontent something
.setcontent else

%p Element insertions:
#acceptselements
  %p.firstpara Foo 
  %p.secondpara Bar

%p String insertions:
#acceptstext
  %p.firstpara Foo
  %p.secondpara Bar

%select#select
  %option{:value => ''}

%table{:cellspacing => '10'}
  %thead
    %tr
      %th#th Original header
  %tbody
    %tr
      %td

%ul#theList
  %li
  %li
  %li
  %li
  %li
  %li

=javascripts 'test/insertion'
