%h1 Keyboard tests

%style{:type => 'text/css'}
  :plain
    .block { border: 1px solid #ccc; padding: 18px; float: right; width: 140px; }
    h4 { font: bold 14px Arial, sans-serif; margin: 0 0 6px; }
    .buzzer { background: #cf6; height: 100px; margin: 18px 0 0; }

.block#block1
  %h4 SHIFT + Z
  %button.disable Disable
  %button.enable Enable
  .buzzer

.block#block2
  %h4 CONTROL + S
  %button.disable Disable
  %button.enable Enable
  %button.allow Allow
  %button.deny Prevent
  .buzzer

=javascripts 'test/keyboard'