%h1 Keyboard tests

Pressing '9' should alert '9'.

.block#block1
  %h4 SHIFT + Z
  %button.disable Disable
  %button.enable Enable
  .buzzer

.block#block2
  %h4 CONTROL + S
  %button.disable Disable
  %button.enable Enable
  %button.allow Allow
  %button.deny Prevent
  .buzzer

=javascripts 'test/keyboard'