%h1 Overlay tests

%ul
  %li
    %a#new-overlay{:href => '#'}
      Open new overlay
  %li
    %a#new-mask{:href => '#'}
      Open mask
  %li
    %a#center-fade{:href => '#'}
      Center an overlay then fade it in
  %li
    %a#fit-and-zoom{:href => '#'}
      Fit to content and zoom in

%button#mover Move the overlay

:plain
  <script type="text/javascript">
    overlays = [];
    Ojay.Overlay.instanceMethod('initialize', Ojay.Overlay.prototype.initialize.wrap(function(orig, options) {
        overlays.push(this);
        orig(options);
    }));
    
    Ojay('#new-overlay').on('click', function(el,ev) {
        ev.stopEvent();
        var overlay = new Ojay.ContentOverlay({width: 600, height: 400, left: 500});
        overlay.show();
        
        overlay.setContent(Ojay.HTML.h3('Hello, world!'))
                .insert(Ojay.HTML.ul(function(html) {
                    Ojay(html.li('Move me')).on('click', function() {
                        overlay.setPosition(400 * Math.random(), 400 * Math.random());
                    });
                    Ojay(html.li('Center me')).on('click')._(overlay).center();
                    Ojay(html.li('Fit to content')).on('click')._(overlay).fitToContent().center();
                    Ojay(html.li('Hide me')).on('click')._(overlay).hide();
                    Ojay(html.li('Close me')).on('click')._(overlay).close('zoom');
                }));
    });
    
    Ojay('#new-mask').on('click', function(el,ev) {
        ev.stopEvent();
        new Ojay.PageMask().setColor(128, 200, 32).setOpacity(0.7).show('fade');
    });
    
    Ojay('#center-fade').on('click', function(el,ev) {
        ev.stopEvent();
        new Ojay.ContentOverlay({className: 'has-class-name okay'}).setContent('Centered!').center().show('fade');
    });
    
    Ojay('#fit-and-zoom').on('click', function(el,ev) {
        ev.stopEvent();
        new Ojay.ContentOverlay().setContent('<div style="width: 100px;">Centered!</div>').fitToContent().center().show('zoom');
    });
    
    Ojay('#mover').on('click', function(el,ev) {
        ev.stopEvent();
        overlays[0].resize(30, 80, 500, 200).close('zoom');
        overlays.shift();
    });
    
    Ojay.Keyboard.listen(document, 'ESCAPE', function() { overlays.forEach({close: 'zoom'}); overlays = [] })
  </script>
  
  <style type="text/css">
        .overlay-container { background: #999; color: #fff; font: 14px Arial, sans-serif; padding: 140px; }
        .overlay-content { padding: 40px; }
        .has-class-name { background: #900; }
  </style>