- @layout = 'test'

%h1 Overlay tests

%ul
  %li
    %a#new-overlay{:href => '#'}
      Open new overlay
  %li
    %a#new-mask{:href => '#'}
      Open mask
  %li
    %a#center-fade{:href => '#'}
      Center an overlay then fade it in
  %li
    %a#fit-and-zoom{:href => '#'}
      Fit to content and zoom in
  %li
    %a#animated-fit{:href => '#'}
      Animated fitting
  %li
    %a#add-close-button{:href => '#'}
      Add close button

%button#mover Move the overlay
%button#filler Fill with too much content and resize

=javascripts 'test/overlays'
