%h1 Paginator tests

#items
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum

:plain
  <style type="text/css">
    .item { background: #333; display: inline; float: left; width: 80px; height: 80px; overflow: hidden; padding: 12px; margin: 0; }
    .item div { background: #eee; padding: 6px; height: 68px; font: bold 11px Arial sans-serif; }
    .paginator { margin-bottom: 30px; }
    .paginator-controls .previous, .paginator-controls .next { clear: left; width: 100px; padding: 2px 8px; border: 1px solid #000; cursor: pointer; }
    .pages span { float: left; width: 20px; padding: 2px 4px; border: 1px solid #666; margin: 10px 6px; cursor: pointer; }
    .paginator-controls .hovered { background: #ddd; }
    .pages span.selected { background: #cef; cursor: default }
    
    /* Should not apply */
    .paginator { padding-top: 50px; }
  </style>
  
  <script type="text/javascript">
    var pager = new Ojay.Paginator('#items', {width: '520px', height: '104px'});
    pager.setup();
    
    var controls = new Ojay.Paginator.Controls(pager);
    pager.getContainer().insert(controls.getHTML(), 'after');
  </script>