- @layout = 'test'

%h1 Paginator tests

#items
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum
  .item
    %div Lorem ipsum

=javascripts *( %w(dragdrop slider).map { |s| "http://yui.yahooapis.com/2.7.0/build/#{s}/#{s}-min.js" } )

#slider-bg{:title => "Slider"}
  #slider-thumb
    =img 'thumb-bar.gif'

#items2box
  #items2
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum
    .item
      %div Lorem ipsum

#ajax-container
  #ajaxy

#ajax-status

=javascripts 'test/paginator'
