%h1 Tabs tests

:plain
  <style type="text/css">
  </style>

.container
  .tab
    .toggle Toggle
    %p Lorem ipsum
  .tab
    .toggle Toggle
    %p Lorem ipsum
  .tab
    .toggle Toggle
    %p Lorem ipsum

=javascripts 'test/tabs'
