- @layout = 'test'

%h1 Tabs tests

%h2
    %code Ojay.Tabs

#container1
    .tab
        .toggle First
        %p
            %q Have nothing in your houses that you do not know to be useful, or believe to be beautiful.
            %cite William Morris
    .tab
        .toggle Second
        %p
            %q If you give someone Fortran, he has Fortran. If you give someone Lisp, he has any language he pleases.
            %cite Larry Wall
    .tab
        .toggle Third
        %p
            %q A great many people think they are thinking when they are merely rearranging their prejudices.
            %cite William James

%h2
    %code Ojay.AjaxTabs

%ul#links.toggles
    %li
        %a{:href => "/service/tabs/01.html"} G
    %li
        %a{:href => "/service/tabs/02.html"} E
    %li
        %a{:href => "/service/tabs/03.html"} B

#container2

=javascripts 'test/tabs'
