%h1 Tabs tests

:plain
    <style type="text/css">
        #container1, #container2 {margin-bottom:30px; border:1px solid #ccc; clear:both; max-width:500px}
        #container1 .tab, #container2 .tab {clear:both; padding:9px;}
        #container1 .tab P {margin:0 0 1em 0;}
        
        .toggles {margin:0; padding:0 0 0 10px; *zoom:1;}
        .toggles li {float:left; cursor:pointer; list-style:none; margin:0 5px -1px 0; border:1px solid #ccc; padding:9px; _position:relative;}
        .toggles li.selected {border-bottom-color:#fff; background-color:#fff;}
        
        #links {}
        #links li {margin-bottom:0; border:none; padding:0;}
        #links li a {display:block; margin-bottom:-1px; border:1px solid #ccc; padding:9px; _position:relative; outline:none; text-decoration:none; font-weight:bold;}
        #links li a.selected {border-bottom-color:#fff;}
        
        #container3 {width:192px; height:192px; border:1px solid #666; padding:32px;}
        
        #thumbnails {margin:6px 0 30px 0; padding:0;}
        #thumbnails li {float:left; margin:0 6px 0 0; border:1px solid #666; padding:0; list-style:none;}
        #thumbnails .thumb {display:block; outline:none; text-decoration:none;}
        #thumbnails .thumb IMG {display:block; margin:0; border:none; padding:0;}
        #thumbnails .selected {opacity:0.5;}
    </style>

%h2
    %code Ojay.Tabs

#container1
    .tab
        .toggle First
        %p
            %q Have nothing in your houses that you do not know to be useful, or believe to be beautiful.
            %cite William Morris
    .tab
        .toggle Second
        %p
            %q If you give someone Fortran, he has Fortran. If you give someone Lisp, he has any language he pleases.
            %cite Larry Wall
    .tab
        .toggle Third
        %p
            %q A great many people think they are thinking when they are merely rearranging their prejudices.
            %cite William James


%h2
    %code Ojay.AjaxTabs

%ul#links.toggles
    %li
        %a{:href => "/service/tabs/01.html"} G
    %li
        %a{:href => "/service/tabs/02.html"} E
    %li
        %a{:href => "/service/tabs/03.html"} B
#container2


=javascripts 'test/tabs'
