%h1 Tabs tests

:plain
  <style type="text/css">
    #container1 {border:1px solid #ccc; clear:both;}
    .tab {clear:both; padding:9px;}
    .tab P {margin:0 0 1em 0;}
    .toggles {margin:0; padding:0 0 0 10px; *zoom:1;}
    .toggles LI {float:left; cursor:pointer; list-style:none; margin:0 5px -1px 0; border:1px solid #ccc; padding:9px;  _position:relative;}
    .toggles LI.selected {border-bottom-color:#fff; background-color:#fff;}
  </style>

#container1
  .tab
    .toggle First
    %p
      %q Have nothing in your houses that you do not know to be useful, or believe to be beautiful.
      %cite William Morris
  .tab
    .toggle Second
    %p
      %q If you give someone Fortran, he has Fortran. If you give someone Lisp, he has any language he pleases.
      %cite Larry Wall
  .tab
    .toggle Third
    %p
      %q A great many people think they are thinking when they are merely rearranging their prejudices.
      %cite William James

=javascripts 'test/tabs'
