!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}/
    %title
      = 'Ojay: ' + (@title || 'YUI development made easy')
    =javascripts 'yui/2.7.0', 'ojay/all-min', 'prettify'
    =stylesheets 'application', 'syntax'
  %body{:onload => 'prettyPrint()'}
    #container
      #header
        .sub
          %h1 Ojay
          #tom-link
            =link 'theOTHERmedia', 'http://othermedia.com'
      #main
        .sub
          #content
            = yield
          #sidebar
            #download
              =link 'Download 0.4.1', 'http://ojay.googlecode.com/files/ojay-0.4.1.zip'
            %ul#nav
              %li
                =link 'Home', '/'
              %li
                =link 'License'
            %h4 Core library
            %ul#docs
              %li
                =link 'Ojay\'s structure', '/articles/structure.html'
              %li
                =link 'CSS selectors', '/articles/selectors.html'
              %li
                =link 'Getting started', '/articles/started.html'
              %li
                =link 'Utility methods', '/articles/util.html'
              %li
                =link 'Core extensions', '/articles/core_extensions.html'
              %li
                =link 'Handling events', '/articles/events.html'
              %li
                =link 'Custom DOM events', '/articles/custom_events.html'
              %li
                =link 'DOM methods', '/articles/dom_methods.html'
              %li
                =link 'Animation', '/articles/animation.html'
              %li
                =link 'Generating HTML', '/articles/generating_html.html'
              %li
                =link 'Sequencing', '/articles/sequencing.html'
              %li
                =link 'Regions', '/articles/regions.html'
              %li
                =link 'Debugging', '/articles/debugging.html'
              %li
                =link '<tt>MethodChain</tt>', '/articles/method_chain.html'
              %li
                =link '<tt>Observable</tt>', '/articles/observable.html'
            %h4 Packages
            %ul#packages
              %li
                =link 'Ajax/HTTP programming', '/articles/ajax.html'
              %li
                =link 'Form manipulations', '/articles/forms.html'
              %li
                =link 'History management', '/articles/history.html'
              %li
                =link 'Mouse tracking', '/articles/mouse.html'
              %li
                =link 'Keyboard events', '/articles/keyboard.html'
              %li
                =link 'Accordions', '/articles/accordions.html'
              %li
                =link 'Overlays', '/articles/overlays.html'
              %li
                =link 'Paginators and carousels', '/articles/paginator.html'
              %li
                =link 'Tabs', '/articles/tabs.html'
            #osi-link
              =link img('opensource-75x65.png'), 'http://www.opensource.org/'
          .clear
      #footer
        .sub
          Copyright &copy; 2007&ndash;2008
          =link 'the OTHER media', 'http://othermedia.com'
    :plain
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3702125-1");
        if (/ojay\.othermedia\.org/.test(window.location.href)) {
          pageTracker._initData();
          pageTracker._trackPageview();
        }
      </script>
