!!!
- script_map = lambda { |s| "http://yui.yahooapis.com/2.5.1/build/#{ s.gsub(/\-beta$/, '') }/#{s}.js" }
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}/
    %title Ojay: Test suite
    =javascripts 'globals', 'yui/2.5.1', 'ojay/all'
    =stylesheets 'logger', 'testlogger'
    =javascripts *( %w(logger yuitest).map &script_map )
  %body
    #content
      =yield
