- @title = 'Handling events'
:textile
  h3. Handling events
  
  Scripting web pages is primarily about handling events triggered by the user. These events include mouse events such
  as clicking or mousing over an element, keyboard events and document-wide events, such as detecting when the document
  has loaded. We use _event listener_ functions to respond to users' actions.
  
  There is nothing special about event listeners, they are just regular functions that you bind to a particular event
  so you can run some code whenever that event happens.
  
  h3. Required files
  
  * @http://yui.yahooapis.com/2.4.1/build/yahoo-dom-event/yahoo-dom-event.js@
  * @http://yui.yahooapis.com/2.4.1/build/selector/selector-beta-min.js@
  * @http://yoursite.com/ojay/lib/class.js@
  * @http://yoursite.com/ojay/core.js@
  
  h3. How do I respond to events?
  
  Ojay makes this really simple, using the @on@ method. You can use this method to listen for any event on an Ojay
  collection as follows:
  
  <pre>
  Ojay('h3').on('click', function(element, e) {
      alert('You clicked on: ' + element.node.innerHTML);
  });</pre>
  
  Try clicking on one of the headings on this page to see this in action.
  
  @on@ takes two arguments: the event name (@click@, @mouseover@, etc) and a function that will fire whenever the event
  occurs. The function receives two arguments:
  
  * @element@ - an Ojay collection wrapping the single element that fired the event
  * @e@ - an @Event@ object, which can be used to stop default behaviour and get information about the event
  
  Note that the above code listens to all @h3@ tags in the document, but @element@ only refers to the one that fired
  the event.
  
  @on@ takes an optional third argument that specifies the meaning of the @this@ keyword inside the function. This
  becomes more useful when using classes and object oriented programming, but the following example should illustrate
  the idea:
  
  <pre>
  var firstPara = Ojay('p').at(0);
  
  Ojay('h1').on('click', function(element, e) {
      this.setStyle({color: 'red'});
  }, firstPara);</pre>
  
  If you click on the big heading at top of the page, you should see the first paragraph turn red.
  
  h3. Getting the event target
  
  While @element@ in your callback function refers to the member of the collection that triggered the event, that
  element may not be the event's target. For example, consider the following situation:
  
  <pre>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
  elit. Integer vehicula scelerisque est. <em>Vestibulum ante</em>
  ipsum primis in faucibus orci luctus et ultrices posuere
  cubilia Curae; Etiam tincidunt erat lobortis urna. Nam
  <strong>fermentum erat</strong> sed enim.</p>
  
  <script type="text/javascript">
    Ojay('p').on('click', function(element, e) {
      alert(element.node.tagName);
      alert(e.getTarget().node.tagName);
    });
  </script></pre>
  
  If you were to click on the paragraph, the first @alert()@ will always display "@P@". The second @alert()@ will
  depend on which child element of the paragraph you clicked on. It could display "@P@", "@EM@" or "@STRONG@"
  depending on where you click. This method can be used to set up event listeners for lots of elements just by
  listening to their common parent element. This registers fewer event listeners with the browser and thus uses
  a lot less memory.
  
  h3. Controlling event execution
  
  You'll often need to stop the browser running the default behaviour for an event, such as stopping it loading a
  new page when a particular link is clicked. Ojay gives you three methods on the event object for doing this.
  
  * @stopDefault@ stops the event's default behaviour from happening
  * @stopPropagate@ stops the event bubbling up the DOM
  * @stopEvent@ does both of the above
  
  An example:
  
  <pre>
  Ojay('#someLink').on('click', function(element, e) {
    e.stopDefault();
    Ojay.HTTP.GET(element.node.href).insertInto('#foo');
    // etc...
  })</pre>
  
  If all your callback does is stop the event, use one of Ojay's pre-stored callback functions to improve readability
  and avoid wasting memory on new functions. They have the same names as the event methods:
  
  <pre>
  Ojay('#someLink').on('click', Ojay.stopEvent)
      .setStyle({fontSize: '12px'})</pre>
  
  h3. Using @MethodChain@
  
  @on()@ is one of a few special methods in Ojay that return a "@MethodChain@":/articles/method_chain.html object.
  This means you can chain methods after the @on()@ call rather than using callback functions explicitly:
  
  <pre>
  // change H1 children's style when they are clicked
  Ojay('h1').on('click').children().setStyle({fontWeight: 'normal'})</pre>
  
  If you pass an object as the last argument to @on()@ in this situation, that object is used as the base of the
  chain:
  
  <pre>
  Ojay('a').on('click', Ojay.stopEvent, Ojay.HTTP)
      .GET('/index.html', {ajaxLayout: true})
      .insertInto('h1');</pre>
  
  See the "@MethodChain@":/articles/method_chain.html page for more information on how to use it.
  

%script{:type => 'text/javascript'}
  :plain
    Ojay('h3').on('click', function(element, e) {
        alert('You clicked on: ' + element.node.innerHTML);
    });
    
    var firstPara = Ojay('p').at(0);
    Ojay('h1').on('click', function(element, e) {
        this.setStyle({color: 'red'});
    }, firstPara);
